# xxcook
Personal websites and blogs
@@ -0,0 +1,36 @@
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap;
    font-weight: bold;
    text-align: center;
}
.flex-container > * {
    padding: 10px;
    flex: 1 100%;
}
.main {
    text-align: left;
    background: cornflowerblue;
}

.header {background: coral;}
.footer {background: lightgreen;}
.aside1 {background: moccasin;}
.aside2 {background: violet;}

@media all and (min-width: 500px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside1 { order: 1; }
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }
}
/*body{
	
	background: red;
}*/
